
:root{
    --secDeg: 0deg;
    --minDeg: 0deg;
    --hourDeg: 0deg;
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aquamarine;
}

.clock-face{
    aspect-ratio: 1 / 1;
}

.outer-face{
    margin-top: 5vh;
    width: 25%;
    background-color: darkolivegreen;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
}

.inner-face{
    width: 90%;
    background-color: aliceblue;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.hand{
    background-color: black;
    aspect-ratio: 1 / 0.1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
}

.sec-hand{
    z-index: 5;
    width: 50%;
    transform: translate(0, -50%) rotate(var(--secDeg));
}

/*
The translate and rotate transforms need to be chained prooperly
otherwise they wil offset the center due to changes in the coordinate
system.
*/

.min-hand{
    z-index: 4;
    width: 45%;
    transform: translate(0, -50%) rotate(var(--minDeg));
}

/*It rotating clockwise starting from 3 oclock*/

.hour-hand{
    z-index: 3;
    width: 25%;
    transform: translate(0, -50%) rotate(var(--hourDeg));
    aspect-ratio: 1/ 0.2;
}

.pivot{
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 8%;
    border-radius: 50%;
}

p{
    border: solid darkolivegreen 5px;
    color: black;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 4rem;
}